@media (min-width: 992px) {
  .promo-block {
    height: 400px;
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
  }
  .promo-block__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .promo-block {
    position: relative;
    border: 1px solid #000;
  }
  .promo-block__bgr {
    width: 100%;
  }
  .promo-block .promo-label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .promo-block {
    position: relative;
    border: 1px solid #000;
  }
  .promo-block__bgr {
    max-width: 100%;
  }
}
