.workflow {
	background-color: @concrete;
	padding-top: 40px;

	&__header {
		font-weight: bold;
		font-size: @font-size-lg;
		padding-bottom: 50px;
	}

	&__list {
		list-style-type: none;
		font-size: @font-size-lg - 1;
		line-height: 48px;	
	}

	&__list--left {
		text-align: left;
	}
	&__list--right {
		text-align: right;
	}
}


@media (min-width: @screen-sm ) and (max-width: @screen-sm-max) {
	@import "workflow-tablet.less";
}


@media (max-width: @screen-xs-max) {
	@import "workflow-phone.less";
}