.workflow {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}

	background-color: #fff;
	padding-bottom: 100px;

	&__header {
		font-size: @font-size-lg;
	}

	&__doctor {
		text-align: center;

		&--img {
			max-width: 100%;
			margin-bottom: 50px;
		}
	}

	&__list {
		font-size: @font-size-lg - 2;
		line-height: 48px;	
	}

	&__list--right {
		text-align: left;
	}
}
	
ul {
	margin: 0;
	padding: 0;
}