.plans {
  padding-bottom: 70px;
}
.plans__header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 70px;
}
.plans__plan {
  background-color: #efefef;
}
.plans__title {
  color: #565656;
  font-size: 18px;
}
